@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

button,
hr,
input {
  overflow: visible;
}

progress,
sub,
sup {
  vertical-align: baseline;
}

[type=checkbox],
[type=radio],
legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
}

details,
main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

/* main styles */

.wrap {
  max-width: 1161px;
  width: 100%;
  margin: 0 auto;
}

.active {
  color: #f9804b !important;
}

.header {
  background-color: #000000;
  padding: 13px 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__item,
.design {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.header-menu__item:hover,
.design:hover {
  cursor: pointer;
  color: #F9804B;
}

.header-navigation {
  max-width: 620px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  max-width: 472px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.no-webp .first {
  background: url(../img/bg1-lg.jpg) center no-repeat; }

.first {
  padding: 86px 0 100px;
  background-size: cover !important;
}

.first-content {
  max-width: 576px;
  width: 100%;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.yellow {
  color: #FFEE2E;
}

h1 {
  position: relative;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 59px;
  z-index: 5;
  padding-left: 77px;
}

h1::before {
  content: "";
  position: absolute;
  max-width: 465px;
  width: 100%;
  top: -75px;
  left: 1px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  z-index: -1;
}

.first-btn {
  border-radius: 25px;
  margin-left: 81px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  max-width: 298px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.first-btn:hover {
  background: #E47209;
}

.first-btn:active {
  background: #4B9200;
}

.first-btn:disabled {
  background: #767474;
}

.no-webp .wilderness {
  background: url(../img/bg2-lg.jpg) center no-repeat; }

.wilderness {
  padding: 139px 0 100px;
  background-size: cover !important;
}

.wilderness-row {
  display: flex;
  gap: 87px;
  margin-bottom: 162px;
}

.wilderness_description {
  color: #333B41;
}

.wilderness_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin: 0 0 21px;
}

.subtitle {
  line-height: 21px;
  margin-bottom: 54px;
}

.wilderness_title-small {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 34px;
}

.wildrness_text {
  line-height: 22px;
}

.wilderness-wrap {
  max-width: 1322px;
  width: 100%;
  margin: 0 auto 80px;
}

.wilderness-pet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-slide {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn-slide:hover {
  background: #E47209;
}

.btn-slide:active {
  background: #4B9200;
}

.card {
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  max-width: 366px;
  width: 100%;
  padding: 1px;
  border-radius: 5px;
}

.card_body {
  background: #ffffff;
  border-radius: 5px;
}

.card_img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  transition: 0.5s;
}

.card_img:hover {
  -webkit-transform: scale(1.05);
  -ms-ransform: scale(1.05);
  transform: scale(1.05);
  border-radius: 5px;
}

.card_content {
  position: relative;
}

.card_description-wrap {
  position: relative;
  cursor: pointer;
}

.card_text {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: 0.7s;
  padding: 10px;
  height: 150px;
  font-weight: 300;
}

.card_description-wrap:hover .card_text {
  transform: translateY(-245px);
  opacity: 1;
}

.card_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px 8px 16px;
}

.card_description__text {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  color: #000000;
}

.card_description__text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.card_description__img {
  padding-top: 5px;
}

.wildrness_cards {
  max-width: 1162px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 28px;
}

.wilderness_btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  max-width: 298px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  border-radius: 25px;
  margin: 0 auto;
  background: #FE9013;
}

.wilderness_btn:hover {
  background: #E47209;
}

.wilderness_btn:active {
  background: #4B9200;
}

.wilderness_btn:disabled {
  background: #767474;
}

.pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 0 100px;
}

.wrap_pick {
  color: #333B41;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 1px 0 59px;
}

.pick_title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FE9013;
  margin-bottom: 30px;
}

.pick_title-small {
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  text-align: center;
  margin: 60px 0 41px;
}

.pick_subtitle {
  margin-bottom: 40px;
  padding-left: 99px;
  font-size: 24px;
  line-height: 29px;
}

.pick_text {
  line-height: 19px;
  padding-left: 99px;
}

.pick_text.medium {
  font-weight: 500;
}

.pick_link {
  color: inherit;
  text-decoration: none;
  border-bottom: #FE9013 1px solid;
}

.pick_row {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}

.no-webp .forarrows::before {
  background: url(../img/arrow.png) no-repeat; }

.forarrows::before {
  content: "";
  position: absolute;
  background-size: contain !important;
  width: 69px;
  height: 35px;
  top: 26%;
  left: 34%;
}

.no-webp .forarrows::after {
  background: url(../img/arrow.png) no-repeat; }

.forarrows::after {
  content: "";
  position: absolute;
  background-size: contain !important;
  width: 69px;
  height: 35px;
  top: 26%;
  right: 34%;
}

.pick_item {
  max-width: 168px;
  width: 100%;
  margin: 0 65px;
}

.pick_img {
  width: 168px;
  height: 168px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 30px;
}

.pick_item figcaption {
  line-height: 22px;
}

.pick_img-body {
  background: #ffffff;
  width: 168px;
  height: 168px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick_btn {
  display: block;
  margin: 0 auto;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  max-width: 298px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
}

.pick_btn:hover {
  background: #E47209;
}

.pick_btn:active {
  background: #4B9200;
}

.pick_btn:disabled {
  background: #767474;
}

.no-webp .testimonials {
  background: url(../img/bg3-lg.jpg) 100% 126% no-repeat; }

.testimonials {
  padding: 109px 0 180px;
  background-size: 248px !important;
}

.testimonials_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333B41;
  margin-bottom: 46px;
}

.testimonials_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.testimonials_card {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  max-width: 264px;
  width: 100%;
  border-radius: 20px;
  padding: 2px;
}

.testimonials_card-body {
  background: #F1F3F2;
  border-radius: 20px;
  padding: 15px;
}

.testimonials_head {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 6px;
}

.testimonials_name {
  line-height: 19px;
  color: #000000;
  margin: 0;
}

.testimonials_name span {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBD;
}

.testimonials_card-content {
  height: 309px;
  overflow-y: hidden;
}

.testimonials_card-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767474;
  margin: 0;
}

.testimonials_progress {
  max-width: 598px;
  width: 100%;
  height: 7px;
  margin: 0 auto 32px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
  padding: 0.5px;
}

.testimonials_progress-body {
  cursor: pointer;
  width: 100%;
  height: 6px;
  background: #F5F7F6;
  border-radius: 5px;
}

.progress-bar {
  background: #fe9013;
  border-radius: 5px;
  width: 25%;
  height: 100%;
}

.testimonials_btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  max-width: 298px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.testimonials_btn:hover {
  background: #E47209;
}

.testimonials_btn:active {
  background: #4B9200;
}

.testimonials_btn:disabled {
  background: #767474;
}

footer {
  background: #111115;
  padding: 6px 0 52px;
}

.footer_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.footer_form-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 33px 0 14px;
}

.footer_nav-item {
  text-decoration: none;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}

.footer_form {
  max-width: 367px;
  width: 100%;
}

.footer_input-body {
  max-width: 228px;
  width: 100%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  padding: 0.7px;
  border-radius: 2px;
  height: 39px;
  display: inline-block;
  margin-right: 4px;
}

.input {
  background: #000;
  max-width: 210px;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 8px;
  height: 22px;
  color: #ffffff;
}

.form_btn {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #4B9200;
  border-radius: 5px;
  color: #4B9200;
}

.footer_btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  max-width: 298px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.footer_btn:hover {
  background: #E47209;
}

.footer_btn:active {
  background: #4B9200;
}

.footer_btn:disabled {
  background: #767474;
}

.shadow {
  fill: #C4C4C4;
  fill-opacity: 0.5;
}

.footer_row-last {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.copyright {
  font-weight: 100;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.social {
  list-style-type: none;
  padding-left: 0;
  margin: 44px 124px 0 0;
}

.social_label {
  line-height: 24px;
  color: #fff;
  margin: 6px 0 4px;
}

.social_item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.footer_nav {
  max-width: 367px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .wrap {
    padding: 0 10px;
  }
}

.webp .first { background: url(../img/bg1-lg.webp) center no-repeat; }

.webp .wilderness { background: url(../img/bg2-lg.webp) center no-repeat; }

.webp .forarrows::before { background: url(../img/arrow.webp) no-repeat; }

.webp .forarrows::after { background: url(../img/arrow.webp) no-repeat; }

.webp .testimonials { background: url(../img/bg3-lg.webp) 100% 126% no-repeat; }